{
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "indent": ["error", 2],
    "no-trailing-spaces": "error",
    "curly": "error",
    "no-multi-spaces": "error",
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "key-spacing": ["error", { "mode": "strict" }],
    "linebreak-style": "off",
    "semi": "error",
    "eol-last": ["error", "always"],
    "quotes": ["error", "single"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",

    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-tag-spacing": "error",
    "max-len": ["error", { "code": 80 }],

    //네이엔
    "no-console": "off",
    "no-debugger": "error",
    // Best Practices
    "eqeqeq": "error",
    // "no-invalid-this": "error",
    "no-return-assign": "error",
    "no-unused-expressions": [
        "error",
        {"allowTernary": true}
    ],
    "no-useless-concat": "error",
    "no-useless-return": "error",

    /*
     * Variable
     * "init-declarations": "error",
     */
    "no-use-before-define": "error",

    // Stylistic Issues
    "array-bracket-newline": [
        "error",
        {"multiline": true,
            "minItems": null}
    ],
    "array-bracket-spacing": "error",
    "brace-style": [
        "error",
        "1tbs",
        {"allowSingleLine": true}
    ],
    "block-spacing": "error",
    // "comma-dangle": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "func-call-spacing": "error",
    "implicit-arrow-linebreak": [
        "error",
        "beside"
    ],
    // Indent: ["error", 4],
    "keyword-spacing": "error",
    "multiline-ternary": [
        "error",
        "never"
    ],
    // "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-multiple-empty-lines": [
        "error",
        {"max": 2,
            "maxEOF": 1}
    ],
    "no-tabs": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "nonblock-statement-body-position": "error",
    "object-property-newline": [
        "error",
        {"allowAllPropertiesOnSameLine": true}
    ],
    "quote-props": [
        "error",
        "as-needed"
    ],

    /*
     *  Quotes: ["error", "prefer-single"],
     * semi: ["error", "never"],
     * "semi-spacing": "error",
     */
    "space-before-blocks": "error",
    // "space-before-function-paren": "error",
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",

    // ES6
    "arrow-spacing": "error",
    "no-confusing-arrow": "error",
    "no-duplicate-imports": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": "error",
    "prefer-template": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}