.background {
  background-color: $background;
  margin-bottom: 60px;
}

.banner {
  padding-bottom: 20px;
  margin: 0 calc(-1 * $sm-margin);
  border-bottom: 1px solid $surface;

  img {
    display: block;
    width: 100%;
  }
}

.selector-group {
  padding: 20px 0;
  border-bottom: 10px solid #f4f6fb;
}

.sorting-selector {
  text-align: right;
}

.tag-selector {
  margin-bottom: 20px;

  .row {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}