// Login
.login-container {
  height: 100vh;
  margin: 0 auto;
  background-color: $background;

  img,
  button {
    display: block;
    margin: 0 auto;
  }

  .logo-bus {
    margin-top: 120px;
    margin-bottom: 16px;
  }

  .logo {
    margin-bottom: 100px;
  }
}

// MyPage
.mypage {
  &-profile {
    margin-top: 42px;
    text-align: center;

    &-avatar {
      div {
        position: relative;
        width: 68px;
        margin: 0 auto;
        border-radius: 50px;
      }

      &-image {
        width: 100%;
      }

      &-edit {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    &-nickname {
      @include text-style-body3;
      margin-top: 8px;
    }
  }

  &-contents {
    @include text-style-body8;
    display: flex;
    justify-content: center;
    margin: 20px 48px 40px;
    background-color: #f8f9fb;

    > div {
      @include text-style-body8;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px 28px 10px;
      gap: 4px;

      &:first-child {
        border-right: 1px solid #dfe3eb;
      }
    }
  }
}
