.post_create {
  &-container {
    padding: 16px 20px;
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    @include text-style-body1;
    margin-bottom: 16px;
  }

  &-back {
    margin-left: 4px;
  }

  &-submit {
    @include text-style-body6;
    margin-right: 4px;
    color: $neibus02;
  }

  &-emoticon_list {
    display: flex;
    height: 24px;

    li {
      margin: 0 6px;
    }
  }

  &-write {
    margin: 0 4px;

    textarea {
      width: 100%;
      padding: 0;
      margin-top: 20px;
      border: 0;
      @include text-style-body2;

      ::placeholder {
        color: #c4c4c4;
      }
    }

    form {
      margin-top: 16px;
      margin-right: 4px;
      text-align: right;
    }

    &-attatchment {
      display: none;
    }
  }

  &-tags {
    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-bottom: 8px;
      overflow-x: scroll;
      white-space: nowrap;

      li {
        @include text-style-body4;
        padding: 4px 16px;
        margin-right: 8px;
        color: $neibus02;
        border: 1px solid $neibus02;
        border-radius: 42px;

        &.active {
          color: #fff;
          background-color: $neibus02;
        }
      }
    }
  }
}
