.report {
  @include no-scrollbar;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $report;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $background;
  overscroll-behavior: contain;

  &_header {
    @include flexbox(between);
    @include text-style(headline4, $title01);
    height: 60px;

    h2 {
      position: relative;
    }

    button {
      position: relative;
      bottom: 3px;
      display: block;

      img {
        display: block;
      }
    }
  }

  &_body {
    margin-top: 30px;

    .input_group {
      @include flexbox(start);
      margin-bottom: 24px;

      input {
        // TODO: 추후 브라우저 고려해서 prefix 추가
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 15px;
        border: 3px solid #5e5e5e;
        border-radius: 2px;
        cursor: pointer;
      }

      input:checked {
        background-image: url('/static/icons/check-full.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0;
      }

      label {
        @include text-style(body1, #5e5e5e);
      }
    }
  }

  .submit_btn {
    @include text-style(body3, $background);
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    background-color: #1cd9d9;
    border-radius: 4px;

    &:disabled {
      cursor: not-allowed;
      background-color: $line01;
    }
  }

  textarea {
    width: 100%;
    height: 160px;
    padding: 16px 20px;
    border: 3px solid $line01;
    border-radius: 4px;
  }
}
