.report {
  padding: 0 4px;
  background-color: $background;
  height: 100vh;

  &_header {
    @include flexbox(between);
    @include text-style(headline4, $title01);
    height: 60px;
    margin-bottom: 30px;

    h2 {
      position: relative;
    }

    button {
      position: relative;
      bottom: 3px;
      display: block;

      img {
        display: block;
      }
    }
  }

  &_body {
    .input_group {
      @include flexbox(start);
      margin-bottom: 24px;

      input {
        display: block;
        width: 18px;
        height: 18px;
        margin-right: 15px;
        cursor: pointer;
      }

      label {
        @include text-style(body1, #666);
      }
    }
  }

  .submit_btn {
    @include text-style(body3, $background);
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    background-color: #1cd9d9;
    border-radius: 4px;

    &:disabled {
      cursor: not-allowed;
      background-color: $line01;
    }
  }

  textarea {
    width: 100%;
    height: 160px;
    padding: 16px 20px;
    border: 3px solid $line01;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;
  }

  &-notice {
    @include text-style(body4,$neibus01)
  }
}
