.side_menu {
  $logo-top-margin: 60px;
  $logo-height: 32px;
  @include no-scrollbar;
  @include column-flexbox(between, center);
  position: fixed;
  top: 0;
  right: 0;
  z-index: $side-menu;
  width: 216px;
  height: 100vh;
  overflow-y: auto;
  background-color: $background;
  overscroll-behavior: contain;

  &-logo {
    position: absolute;
    top: $logo-top-margin;
    left: $sm-margin;
  }

  .close_btn {
    position: absolute;
    top: 24px;
    right: 30px;
  }

  .page_link_list {
    width: 100%;
    padding: calc($logo-top-margin + $logo-height) $sm-margin;
  }

  .page_link_item {
    display: block;
    width: 100%;

    a {
      @include text-style(body7, $title02);
      display: block;
      margin-top: 16px;
      text-decoration: none;
      cursor: pointer;

      &.isActive {
        font-weight: 700;
        color: $neibus02;
      }
    }

    &:last-child {
      margin-top: 16px;
      border-top: 1px solid $line03;
    }
  }

  .side_menu_bottom {
    @include column-flexbox;

    .external_link_list {
      @include flexbox;
      margin-bottom: 16px;
    }

    .external_link_item {
      @include flexbox;
      width: 40px;
      height: 40px;
      margin-right: 8px;
      overflow: hidden;
      background-color: $line01;
      border-radius: 12px;

      a {
        @include flexbox;
        width: 100%;
        height: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .copyright {
      @include text-style(body8, #888, $font-en);
      margin-bottom: 24px;
    }
  }
}
