.tag {
  @include no-scrollbar();
  padding: 0 $sm-margin;
  margin: 0 calc(-1 * $sm-margin);
  overflow-x: auto;

  &_list {
    @include inline-flexbox(start);
    white-space: nowrap;
  }
}

.taglist_first {
  margin: 16px 0 8px;
}
