.write_meta_info {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 100%;

  &-avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-date {
    margin-left: 12px;
  }

  &-options {
  }
}
