.swiper {
  margin-bottom: 16px;
}

.swiper-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 12px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .page-number {
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;

    font-style: $font-en;
    @include text-style-body8;
    padding: 4px 8px;
    border-radius: 20px;

    background-color: black;
    opacity: .5;
    color: white;
  }
}

.swiper-button {
  &-prev::after, &-next::after {
    color: white;
    visibility: hidden;
  }
}

.swiper-pagination-bullet {
  background-color: black;
}
