div,
li,
textarea {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
}

select,
select:active,
select:focus {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
}

button:hover,
button:active,
button:focus {
  cursor: pointer;
}

input,
textarea {
  padding: 0;
  margin: 0;
}

textarea:focus {
  outline: 0;
}
