$neibus01: #23e2e2;
$neibus02: #00a4a4;
$neibus03: #00d9d9;
$neibus04: #4be8e8;
$neibus05: #79eeee;

$blue01: #61cff2;
$blue02: #0eb2e5;
$blue03: #a3e9ff;
$blue04: #dcf7ff;

$title01: #212121;
$title02: #333;

$body01: #666;
$body02: #888;
$body03: #999;

$line01: #c5c5c5;
$line02: #e5e5e5;
$line03: #ebebeb;

$surface: #f8f8f8;
$background: #e7e7e7;

$red: #e7e7e7;
