$font-ko: 'Noto Sans KR', sans-serif;
$font-en: 'Roboto', sans-serif;

$line-height: 1.6;

$font-weight-heading: 700;
$font-weight-regular-1234: 500;
$font-weight-regular-5678: 400;
$font-weight-flag: 400;

$font-size-heading1: 36px;
$font-size-heading2: 32px;
$font-size-heading3: 28px;
$font-size-heading4: 24px;
$font-size-heading5: 20px;

$font-size-body1: 18px;
$font-size-body2: 16px;
$font-size-body3: 14px;
$font-size-body4: 12px;
$font-size-body5: 18px;
$font-size-body6: 16px;
$font-size-body7: 14px;
$font-size-body8: 12px;

$font-size-flag: 10px;
